.swiper-button-prev,
.swiper-button-next {
  color: white;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 30px;
}

.swiper-pagination-bullet-active {
  background-color: #594838; /* 當前滑塊的分頁點顏色 */
  opacity: 1; /* 確保激活的點完全不透明 */
}
