.swiper-button-prev,
.swiper-button-next {
  color: white;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #ffb6c1;
}

.swiper-pagination-bullet-active {
  background-color: #ffb6c1; /* 當前滑塊的分頁點顏色 */
  opacity: 1; /* 確保激活的點完全不透明 */
}
