@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* 讓整個 HTML / Body 預設字體就是 sans (對應 Noto Sans TC) */
  html {
    font-family: theme("fontFamily.sans");
  }

  /* 讓整個 Body 預設文字顏色就是我們的 black(#2D2D2D) */
  body {
    color: theme("colors.black");
    @apply bg-grey-light;
  }

  .dark body {
    color: theme("colors.white");
    @apply bg-dark-mode-grey-200;
  }

  .dark .text-white {
    color: theme("colors.dark-mode-grey.300") !important;
  }

  .dark .bg-white {
    background-color: theme("colors.dark-mode-grey.300") !important;
  }

  .dark .bg-black {
    background-color: theme("colors.grey.light") !important;
  }

  .dark .bg-grey-light {
    background-color: theme("colors.dark-mode-grey.200") !important;
  }

  .dark .border-b {
    border-color: theme("colors.dark-mode-grey.100") !important;
  }

  .dark .border-t {
    border-color: theme("colors.dark-mode-grey.100") !important;
  }

  .dark .border-black {
    border-color: theme("colors.grey.light") !important;
  }
}
